gunicorn==19.7.1
Flask==0.12.1
itsdangerous==0.24
Werkzeug==0.12.1
Jinja2==2.9.6
MarkupSafe==1.0
click==6.7
google-api-python-client==1.6.4
six==1.11.0
httplib2==0.10.3
uritemplate==3.0.0
oauth2client==4.1.2
google-auth==1.2.0
cachetools==2.0.1
pyasn1-modules==0.1.5
pyasn1==0.3.7
rsa==3.4.2
google-auth-oauthlib==0.1.1
requests-oauthlib==0.8.0
google-auth-httplib2==0.0.2
requests==2.18.4
