<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
</style>
<body>
  <nav class="navbar navbar-inverse bg-inverse" id="nav">
    <a class="navbar-brand" id="header" href="/">eForest</a>
    <div id="allRight">
    <ul class="nav navbar-nav navbar-right" id="login" >
      <button class="btn btn-danger"><a href="/identity" id="login">Login</a></button>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="dropdown" >
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Forms
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/forms/studentForm">Student Form</a></li>
        <li><a href="/forms/professorForm">Professor Form</a></li>
        <li><a href="/forms/departmentHeadForm">Department Head Form</a></li>
        <li><a href="/forms/deanForm">Dean/Registrar Form</a></li>
      </ul>
    </ul >
    </div>
  </nav>
  <center><h3>Welcome!</h3></center>
  <br>
  <center><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin erat sem, lacinia eu imperdiet vitae, lobortis bibendum ex. Morbi non scelerisque lacus. Mauris ac nisl nunc. Morbi tincidunt nibh eu sodales volutpat. Sed vel semper est, non dictum mauris. In sit amet dictum purus. Mauris nisl metus, feugiat id facilisis vitae, vestibulum ac turpis. Ut eu tortor eget neque pellentesque feugiat. Aliquam porta rhoncus massa. Nam tristique tristique urna. Sed vitae viverra risus. Nunc tristique felis vitae nunc suscipit rhoncus. Maecenas eget diam in leo hendrerit venenatis vitae sit amet dui. Integer id sodales tellus. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vel consectetur augue, eget efficitur purus. Ut diam odio, semper in tellus sed, imperdiet porta justo. Proin tempor dictum purus, sit amet faucibus leo rhoncus non. Nam varius quis neque at ultrices. Nam pharetra massa ut est vehicula iaculis. Nulla fringilla lectus vitae dolor elementum fringilla. Nullam et iaculis diam. Duis rutrum diam turpis, non mollis arcu viverra a. Sed aliquam imperdiet orci, et euismod orci consequat sed. Sed in elit vitae tortor congue tincidunt. Nullam consequat, quam sit amet dictum varius, augue elit pretium mauris, eget blandit enim mauris et sem.
  </h5></center>
  <br>
  <center><a href="/identity/login">Login with Google</a></center>
  
</body>
</html>
