<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
</style>
<body>
  <nav class="navbar navbar-inverse bg-inverse" id="nav">
    <a class="navbar-brand" id="header" href="/">eForest</a>
    <div id="allRight">
    <ul class="nav navbar-nav navbar-right" id="login" >
      <button class="btn btn-danger"><a href="/login" id="login">Login</a></button>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="dropdown" >
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Forms
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/studentForm">Student Form</a></li>
        <li><a href="/professorForm">Professor Form</a></li>
        <li><a href="/departmentHeadForm">Department Head Form</a></li>
        <li><a href="/deanForm">Dean/Registrar Form</a></li>
      </ul>
    </ul >
    </div>
  </nav>
  <center><h4>An application to help the Registrar schedule classes</h4></center>
</body>
</html>
