<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
p{
  padding-left: 100px;
  padding-right: 100px;
}
#studentBorder{
  width: 90%;
  height: 20%;
}
#showSubmitted{
    display: none;
}
</style>
<script>
function showSearch() {
   document.getElementById('divSearch').style.display = "block";
}
</script>
<body>
  <nav class="navbar navbar-inverse bg-inverse" id="nav">
    <a class="navbar-brand" id="header" href="/">eForest</a>
    <div id="allRight">
    <ul class="nav navbar-nav navbar-right" id="login" >
      <button type="button" class="btn btn-success"><a href="/search" id="login">Search</a></button>
      <button class="btn btn-danger"><a href="/identity/logout" id="login">Log Out</a></button>
    </ul>
  </nav>
  <div class="container" id="studentBorder">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{userinfo['picture']}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{userinfo['name']}}</h4>
                        <i class="glyphicon glyphicon-envelope"></i> {{userinfo['email']}}
                        <br>
                        <i class= "glyphicon glyphicon-ok"></i> Department Head
                    </div>
                </div>
            </div>
        </div>
        <center><div class="btn-group">
        </div></center>
        <br>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="well well-md">
                <div id="showSubmitted">
                    <center><h3>Thank you for submitting the form!</h3></center>
                </div>
                <div class="row">
                    <form>
                      <div class="form-group" id="askDepartment">
                        <label for="exampleInputEmail1">Enter course offerings as a comma-separated list...</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter courses...">
                      </div>
                        <div class="form-group" id="askTimes">
                            <label for="exampleInputEmail1">For each course above, enter the username of the professor as a comma separated list...</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter professor usernames...">
                        </div>
                      <div class="form-group" id="seats">
                        <label for="exampleInputEmail1">For each course above, enter the seatcap as integers in a comma separated list...</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter seatcaps...">
                      </div>
                    <div class="form-group" id="roomfeatures">
                      <label for="exampleInputEmail1">For each course above, enter the room features needed in a colon separated list within a comma separated list...</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter room features...">
                    </div>
                    </form>
                    <button class="btn btn-primary" onclick=afterSubmission() id="submitButton">Submit</button>
                  </div>
        </div>
    </div>
    <script>
    function afterSubmission(){
        var department= document.getElementById('askDepartment');
        var times= document.getElementById('askTimes');
        var showSubmit= document.getElementById('showSubmitted');
        var seats= document.getElementById('seats');
        var room= document.getElementById('roomfeatures');
        var submitButton= document.getElementById('submitButton');

        department.style.display ="none";
        times.style.display ="none";
        submitButton.style.display= "none";
        showSubmit.style.display= "none";
        submitButton.style.display= "none";
        seats.style.display= "none";
        room.style.display= "none";

        showSubmit.style.display ="block";

        professorIn= "{{professorIn}}";
        console.log(professorIn);
        if(professorIn === "True"){
            department.style.display ="none";
            times.style.display ="none";
            submitButton.style.display= "none";
            showSubmit.style.display ="block";
        }
    }
    </script>
  </div>

</div>


</body>
</html>
