<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
#login{
  text-decoration:none;
  color:white;
  /*padding-left: 10px;*/
}
#nav{
  padding-right: 50px;
}
#allRight{
  padding-top: 10px;
}
#h3{
  color: black;
}
#dropdown{
  padding-right: 20px;
}
p{
  padding-left: 100px;
  padding-right: 100px;
}
</style>
<script>
$(document).ready(function(e){
    $('.search-panel .dropdown-menu').find('a').click(function(e) {
		e.preventDefault();
		var param = $(this).attr("href").replace("#","");
		var concept = $(this).text();
		$('.search-panel span#search_concept').text(concept);
		$('.input-group #search_param').val(param);
	});
});
</script>
<body>
    <nav class="navbar navbar-inverse bg-inverse" id="nav">
      <a class="navbar-brand" id="header" href="/">eForest</a>
      <div id="allRight">
      <ul class="nav navbar-nav navbar-right" id="login" >
        <button class="btn btn-danger"><a href="/identity/logout" id="login">Log Out</a></button>
      </ul>
    </nav>

  <center><h1>Displaying the Data...</h1></center>
  <br><br>

  <center><h3>Table 'program_members_m':</h3></center>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">program id</th>
        <th scope="col">student id</th>
      </tr>
    </thead>
    <tbody>
      {% for row in program_members %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>

  <center><h3>Table 'program_m':</h3></center>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">program id</th>
        <th scope="col">program name</th>
        <th scope="col">type</th>
      </tr>
    </thead>
    <tbody>
      {% for row in program %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>

  <center><h3>Table 'student_m':</h3></center>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">student id</th>
        <th scope="col">first name</th>
        <th scope="col">last name</th>
        <th scope="col">expected grad</th>
      </tr>
    </thead>
    <tbody>
      {% for row in student %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>

  <center><h3>Table 'prof_m':</h3></center>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">prof id</th>
        <th scope="col">first name</th>
        <th scope="col">last name</th>
        <th scope="col">dept abbr</th>
        <th scope="col">is dept head ?</th>
      </tr>
    </thead>
    <tbody>
      {% for row in prof %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
          <td>{{row[4]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
